<form action='/links' method="get">
  <input type="submit" value="See existing links">
</form>

<form action='/links/new' method="get">
  <input type="submit" value="Add new link">
</form>

<form action='/tags' method="post">
  Filter by tag:
  <input type="text" name="filter">
  <input type="submit" value="Submit">
</form>
