<HTML>
  <head>
  </head>
  <body>
<ul id="linktags"><%@linktags.each {|linktag|%>
<li>
Title: <%= linktag.link.title %>
URL: <%= linktag.link.url %>
TAG: <%= linktag.tag.content %>
<% }%></ul>

</body>
