<HTML>
<form action='/links' method="post">
  <label for="title">
    Enter Title:
  </label>

  <input type="text" name="title">

  <label for="url">
    Enter URL:
  </label>
    <input type="text" name="url">

    <label for="tag">
      Tag:
    </label>
      <input type="text" name="tag">
    <input type="submit" value="Submit">
</form>
</HTML>
